{{#section "head"}}
	<!-- we want goole to ignore this page-->
		<meta name="robots" content="noindex">
{{/section}}

<h1>Test page</h1>
<p>we're testing some jquery stuff</p>


{{#section "jquery"}}
	<script>
		$("document").ready(function(){
			$("h1").html("jquery words");
		})
	</script>
{{/section}}